@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1,
  label,
  p,
  li,
  dl,
  dd {
    @apply dark:text-gray-100;
  }
  a {
    @apply text-blue-400 hover:text-blue-500 hover:underline;
  }
  pre {
    @apply overflow-auto;
  }
}

@layer components {
  .nav {
    @apply bg-neutral-200 dark:bg-neutral-800;
  }
  .nav ul li a {
    @apply p-1 hover:underline dark:text-neutral-50 text-neutral-800;
  }
  .auth-form {
    @apply w-full md:w-1/3 lg:w-1/4;
  }
  .auth-form label {
    @apply mb-1;
  }
  .btn {
    @apply py-1 px-2 bg-neutral-300 hover:bg-slate-400 rounded-sm shadow-sm transition-all;
  }

  a.btn {
    @apply hover:text-neutral-50 hover:no-underline;
  }

  .btn-primary,
  .bg-primary {
    @apply bg-sky-600 hover:bg-sky-700 text-neutral-50;
  }

  .text-reset {
    @apply text-neutral-800 hover:text-neutral-800 dark:text-neutral-50 dark:hover:text-neutral-50 hover:no-underline;
  }

  .text-primary {
    @apply text-sky-500;
  }
  .text-muted {
    @apply text-neutral-400;
  }

  .btn-dark,
  .bg-dark {
    @apply bg-neutral-800 hover:bg-neutral-900 text-neutral-50 hover:text-neutral-50;
  }
  .btn-danger,
  .bg-danger {
    @apply bg-red-600 hover:bg-red-700 text-neutral-50;
  }

  .text-danger {
    @apply text-red-500;
  }
  .link {
    @apply text-blue-400 hover:text-blue-500 hover:underline transition-all;
  }
  .input {
    @apply p-2 rounded-sm block shadow-sm bg-neutral-100 text-neutral-800 placeholder:text-neutral-500 w-full;
  }

  .react-calendar-tile.react-calendar__tile--active abbr {
    @apply bg-sky-600 hover:bg-sky-700  text-neutral-50 shadow-sm no-underline transition-all;
  }

  .react-calendar-tile.react-calendar__month-view__days__day {
    @apply transition-all;
  }

  .react-calendar-tile.react-calendar__month-view__days__day abbr {
    @apply p-2 rounded-full hover:opacity-80;
  }

  .react-calendar-tile:disabled {
    @apply opacity-30;
  }
  .react-calendar-tile.react-calendar__month-view__days__day--neighboringMonth
    abbr {
    @apply opacity-50;
  }

  .calendar-month {
    @apply flex flex-col;
  }
  .calendar-month-header {
    @apply text-2xl font-semibold mb-2;
  }
  .calendar-month-weekdays-header,
  .calendar-month-days {
    @apply grid grid-cols-7 text-center;
  }
  .calendar-month-weekdays-header {
    @apply grid-rows-1;
  }
  .calendar-month-days {
    @apply grid-rows-6 gap-1;
  }
  #calendar-bottom,
  #calendar-top {
    @apply h-6;
  }

  .calendar-month-day {
    @apply flex flex-col gap-2 justify-center;
  }
  .calendar-month-day-habits {
    @apply flex gap-1 flex-1 flex-wrap justify-center;
  }
}

html {
  scroll-behavior: smooth;
}

/* Calendar navigation */
.react-calendar__navigation {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.react-calendar__navigation__label {
  margin: 0 20px;
  width: 170px;
}
.react-calendar__navigation__arrow {
  padding: 5px;
}

.react-calendar__navigation__arrow:disabled {
  cursor: not-allowed;
  opacity: 0.6;
}

/* Week day titles */
.react-calendar__month-view__weekdays__weekday {
  text-align: center;
}

.react-calendar__month-view__weekdays__weekday abbr {
  text-decoration: none;
}

/* Weekend day titles */
.react-calendar__month-view__weekdays__weekday abbr[title="Saturday"],
.react-calendar__month-view__weekdays__weekday abbr[title="Sunday"],
.react-calendar__month-view__days__day--weekend {
  opacity: 0.8;
}

.ReactModal__Overlay {
  background-color: rgba(0, 0, 0, 0.25);
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}
.ReactModal__Overlay--before-close {
  opacity: 0 !important;
}

.ReactModal__Content {
  transform: translateY(100px);
  transition: all 0.3s ease-in-out;
  padding: 0 !important;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 0 !important;
  border: none !important;
}

.ReactModal__Content--after-open {
  transform: translateY(0px);
}
.ReactModal__Content--before-close {
  transform: translateY(100px);
}
.spinner {
  animation: rotate 2s linear infinite;
}
.spinner .path {
  stroke-linecap: round;
  animation: dash 1.5s ease-in-out infinite;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124;
  }
}
